<!-- welcome.component.html -->
<div class="min-h-screen flex justify-center items-center bg-cover bg-center" style="background-image: url('../../../../assets/bg-pic.jpg');">
    <div class="p-8 bg-red-500 shadow-md rounded-lg text-center">
      <img src="../../../../assets/food-9.jpg" alt="Foodie Palace" class="w-32 h-32 rounded-full mx-auto mb-6">
      <h1 class="text-white text-4xl font-bold mb-4">Welcome to Foodie Palace</h1>
      <p class="text-white text-lg mb-6">Experience the best in food from around the world!</p>
      <a href="/home" class="bg-white text-red-500 px-6 py-3 rounded-md text-lg font-semibold shadow-md hover:bg-white hover:text-red-500 transition-colors duration-300">
        <span class="hover:text-xl">Explore Our Menu</span>
      </a>
    </div>
  </div>
  