<nav class="bg-white border-gray-200 dark:bg-red-500">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a routerLink="/" class="flex items-center">
      <img src="../../../assets/icon.png" class="h-10 mr-3" alt="Food logo" />
      <span
        class="self-center text-2xl font-bold whitespace-nowrap dark:text-white"
        >Foodie Palace</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-white focus:outline-none  dark:hover:bg-red-700 dark:focus:ring-red-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-white md:dark:bg-red-500 dark:border-gray-700"
      >
        <li>
          <a
          id="homeLink"
            routerLink="/"
            class="block py-2 pl-3 pr-4 md:text-white text-red-500 rounded hover:bg-red-500 hover:text-white md:hover:bg-white md:hover:text-red-500"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
          id="aboutLink"
            routerLink="/about"
            class="block py-2 pl-3 pr-4 md:text-white text-red-500 rounded hover:bg-red-500 hover:text-white md:hover:bg-white md:hover:text-red-500"
            >About</a
          >
        </li>
        <li>
          <a
          id="loginLink"
          routerLink="/login"
          class="block py-2 pl-3 pr-4 md:text-white text-red-500 rounded hover:bg-red-500 hover:text-white md:hover:bg-white md:hover:text-red-500"
          >Login</a
        >
        </li>
        <li>
          <a
          id="cartLink"
          routerLink="/cart-page"
          class="block relative py-2 pl-3 pr-4 md:text-white text-red-500 rounded hover:bg-red-500 hover:text-white  md:hover:bg-white md:hover:text-red-500"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
            />
          </svg>
          <span
            *ngIf="cart.totalCount"
            class="absolute inline-flex items-center justify-center w-5 h-5 text-xs font-bold bg-white text-red-500 border-2 border-white rounded-full -top-1 -right-1"
            >{{ cart.totalCount }}</span
          ></a
        >
        </li>
      </ul>
    </div>
  </div>
</nav>
