<div class="bg-white">
    <main class="isolate">
    <!-- Hero section -->
    <div
      class="relative isolate -z-10 overflow-hidden bg-gradient-to-b from-indigo-100/20 pt-0"
    >
      <div
        class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:-mr-80 lg:-mr-96"
        aria-hidden="true"
      ></div>
      <div class="mx-auto max-w-7xl px-6 py-32 sm:py-40 lg:px-8">
        <div
          class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8"
        >
          <h1
            class="max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl lg:col-span-2 xl:col-auto"
          >
            Welcome to Foodie Palace
          </h1>
          <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
            <p class="text-lg leading-8 text-gray-600">
              At Foodie Palace, we believe that food is not just a necessity but
              a delightful experience that brings people together. Our app is
              designed to be your ultimate companion on your culinary
              adventures, offering a world of gastronomic delights right at your
              fingertips. <br />Exploring new restaurants and eateries is a
              thrilling adventure, and Foodie Palace is here to guide you along
              the way. Our app showcases handpicked recommendations from
              passionate food enthusiasts, helping you discover hidden gems and
              popular hotspots alike. Whether you're craving a cozy cafe, a
              trendy bistro, or a fine dining establishment, we've got you
              covered. <br />
              Are you ready to embark on a delectable journey? Download the
              Foodie Palace app today and unlock a world of culinary delights.
              Elevate your cooking skills, explore new flavors, and connect with
              fellow food enthusiasts. Get ready to indulge your senses and
              unleash your inner foodie with Foodie Palace! <br><br><span class="font-semibold">Happy cooking and
              bon appétit!</span> <br> <span class="font-semibold">The Foodie Palace Team</span>
            </p>
          </div>
          <img
            src="../../../../assets/about-pic.jpg"
            alt=""
            class="mt-10 aspect-[6/5] w-full max-w-lg rounded-2xl object-cover sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-36"
          />
        </div>
      </div>
      <div
        class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"
      ></div>
    </div>

    <!-- Timeline section -->
    <div class="mx-auto -mt-12 max-w-7xl px-6 lg:px-8">

      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4"
      >
        <div>
          <time
            datetime="2021-08"
            class="flex items-center text-sm font-semibold leading-6 text-red-500"
          >
            <svg
              viewBox="0 0 4 4"
              class="mr-4 h-1 w-1 flex-none"
              aria-hidden="true"
            >
              <circle cx="2" cy="2" r="2" fill="currentColor" />
            </svg>
            Aug 2021
            <div
              class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
              aria-hidden="true"
            ></div>
          </time>
          <p
            class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900"
          >
            Founded Foodie Palace
          </p>
          <p class="mt-1 text-base leading-7 text-gray-600">
            We started our journey to provide food enthusiasts with a delightful
            culinary experience.
          </p>
        </div>
        <div>
          <time
            datetime="2021-12"
            class="flex items-center text-sm font-semibold leading-6 text-red-500"
          >
            <svg
              viewBox="0 0 4 4"
              class="mr-4 h-1 w-1 flex-none"
              aria-hidden="true"
            >
              <circle cx="2" cy="2" r="2" fill="currentColor" />
            </svg>
            Dec 2021
            <div
              class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
              aria-hidden="true"
            ></div>
          </time>
          <p
            class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900"
          >
            Expanded our offerings
          </p>
          <p class="mt-1 text-base leading-7 text-gray-600">
            We added a wider range of cuisines to our menu, including Italian,
            Asian, and Mexican dishes.
          </p>
        </div>
        <div>
          <time
            datetime="2022-04"
            class="flex items-center text-sm font-semibold leading-6 text-red-500"
          >
            <svg
              viewBox="0 0 4 4"
              class="mr-4 h-1 w-1 flex-none"
              aria-hidden="true"
            >
              <circle cx="2" cy="2" r="2" fill="currentColor" />
            </svg>
            Apr 2022
            <div
              class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
              aria-hidden="true"
            ></div>
          </time>
          <p
            class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900"
          >
            Introduced Chef's Specials
          </p>
          <p class="mt-1 text-base leading-7 text-gray-600">
            We launched our Chef's Specials menu, featuring unique and
            innovative dishes crafted by our talented chefs.
          </p>
        </div>
        <div>
          <time
            datetime="2022-08"
            class="flex items-center text-sm font-semibold leading-6 text-red-500"
          >
            <svg
              viewBox="0 0 4 4"
              class="mr-4 h-1 w-1 flex-none"
              aria-hidden="true"
            >
              <circle cx="2" cy="2" r="2" fill="currentColor" />
            </svg>
            Aug 2022
            <div
              class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
              aria-hidden="true"
            ></div>
          </time>
          <p
            class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900"
          >
            Opened new locations
          </p>
          <p class="mt-1 text-base leading-7 text-gray-600">
            We expanded our presence by opening new Foodie Palace locations in
            different cities, bringing our culinary experience to even more
            people.
          </p>
        </div>
       
      </div>
    </div>
  </main>
</div>
