<div class="bg-gray-100">
  <div class="container mx-auto py-8">
    <h1 class="text-2xl font-bold mb-4">Shopping Cart</h1>
    <app-not-found
      [visible]="!cart || !cart.items.length"
      notFoundMessage="Your Cart is Empty!"
      resetLinkText="Go back"
    ></app-not-found>
    <div
      *ngIf="cart && cart.items.length"
      class="bg-white shadow overflow-hidden rounded-lg overflow-x-auto"
    >
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Product
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Quantity
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Price
            </th>
            <th scope="col" class="relative px-6 py-3">
              <span class="sr-only">Remove</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <!-- Sample cart items (Replace with your data) -->
          <tr *ngFor="let cartItem of cart.items">
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-20 w-20">
                  <img
                    class="w-20 h-20 rounded-full object-cover"
                    [src]="cartItem.food.imageUrl"
                    [alt]="cartItem.food.name"
                  />
                </div>
                <div class="ml-4">
                  <a routerLink="/food/{{ cartItem.food.id }}" class="text-sm sm:text-lg font-medium text-gray-900">
                    {{ cartItem.food.name }}
                  </a>
                  <div class="text-xs sm:text-sm text-gray-500">
                    {{ cartItem.food.region }}
                  </div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">
                <select
                  class="w-16 h-10 ml-auto outline-none border-none border-b border-gray-300 text-lg font-extralight"
                  #quantitySelect
                  [value]="cartItem.quantity"
                  (change)="changeQuantity(cartItem, quantitySelect.value)"
                >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">
                {{ cartItem.price | currency }}
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <button class="text-red-600 hover:scale-110" (click)="removeFromCart(cartItem)">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="cart && cart.items.length" class="mt-8 flex flex-col sm:flex-row text-center justify-center sm:justify-end text-xs sm:text-sm">
      <span
        class="bg-red-500 hover:bg-red-600 text-white mb-5 sm:mb-0 font-semibold px-4 py-2 rounded sm:mr-auto mx-5 sm:ml-0"
      >
      Total Price: 
      {{
        cart.totalPrice | currency
      }}
      </span>
      <a
      routerLink="/order"
        class="bg-red-500 hover:bg-red-600 text-white font-semibold px-4 py-2 sm:ml-auto rounded mx-5 sm:mr-0"
      >
        Checkout
      </a>
    </div>
  </div>
</div>
